body {
    background-color: #f8f9fa;
    font-family: 'Lato';
  }
  
  .jumbotron {
    background-color: #242a30;
    color: #ffffff;
    border-bottom-right-radius: 2rem;
  }
  
  .card {
    transition: opacity 0.3s ease-in-out;
  }
  
  .course-over {
    opacity: 0.7;
  }
  
  h5 {
    color: #008080;
  }

  .lead {
    color: #008080;
  }
  
  footer {
    width: 100%;
    padding: 1rem 4rem;
  }
