body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#timetable {
    padding: 20px;
}

.card {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card.collapsed {
    transform: scaleY(0);
    margin: 0 !important; /* Override Bootstrap margin for a smoother transition */
}
